<h1>Eventos II (keyup)</h1>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil autem dolor illo temporibus debitis, neque in, voluptate aut repellendus eaque itaque commodi incidunt impedit laborum voluptatem velit tenetur est!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil autem dolor illo temporibus debitis, neque in, voluptate aut repellendus eaque itaque commodi incidunt impedit laborum voluptatem velit tenetur est!</p>
</div>
<p>Apellidos: {{persona.lastname}}</p>
<input type="text" [value]="persona.lastname" (keyup)="changeName($event)">
<hr>
<h1>Eventos (click)</h1>
<button [disabled]="btnDisabled" (click)="showModal()">Mostrar Modal</button>
<button [disabled]="btnDisabled" (click)="hideModal()">Ocultar Modal</button>
<button (click)="toggleButton()">Activar botones</button>
<p>Edad {{personaEdad}}</p>
<button (click)="increaseAge()">Edad ++</button>
<hr>
<h1>Propiedades [value]</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="personaEdad"></progress>
<hr />
<h1>String</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<p>3 + 3 = {{3+3}}</p>
<h3>Hola soy {{name}} y tengo {{age}}</h3>
{{5+2}}
{{'Juanes'}}

<p>Hola mis datos son: {{persona}}</p>
<p>Mi edad es {{personaEdad}}</p>
<p>Mi apellido es {{persona.lastname}}</p>

<div>
  <h1>{{product.descripcion}}</h1>
  <p>ID: {{product.id}}</p>
  <p>Precio: {{product.precio | currency:'S/.':'symbol':'1.2-2'}}</p>
</div>

<img src={{img}} alt="imagen perdida" style="height: 100px;">

<div [hidden]="!isVisibleModal">
  <label for="">Nombre</label>
  <input type="text" value="Alain">
</div>